.footer-div {
  width: 100%;
  min-width: 400px;
  background-color: rgb(136, 56, 56);
  height: 50px;
  font-size: 2rem;
  color: #9d4d8c;
  border: 0.5px solid #9d4d8c;
  border-radius: 5px;
  text-align: center;
  height: 55px;
  display: flex;
  justify-content: center;
}

.brand {
  color: grey;
  font-weight: bold;
  font-style: italic;
  margin-right: 1.5rem;
}
